* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  list-style-type: none;

}